<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Factory method of getCurrencyInstance allows to instantiate a factory method -->
    <!-- for a class that cannot normally be instantiated -->
    <bean id="nf" class="java.text.NumberFormat" factory-method="getCurrencyInstance" />

    <!-- DocumentBuilder and DocumentBuilderFactory examples -->
    <bean id="factory" class="javax.xml.parsers.DocumentBuilderFactory"
          factory-method="newInstance" />
    <bean class="javax.xml.parsers.DocumentBuilderFactory"
        factory-bean="factory" factory-method="newDocumentBuilder"/>

    <context:component-scan base-package="com.example"/>

    <bean id="redSox" class="com.example.entities.RedSox" />
    <bean id="cubs" class="com.example.entities.Cubs" />

    <bean id="game" class="com.example.entities.BaseballGame"
        scope="prototype">
        <property name="awayTeam" ref="redSox" />
        <property name="homeTeam" ref="cubs" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" />
</beans>